<div class="relative bg-cover bg-center h-[450px]">
  <!-- Background Image -->
  <%= image_tag "pexels-teddy-yang-2263436.jpg",
    class: "absolute inset-0 w-full h-full object-cover" %>
 
  <!-- Content Overlay -->
  <div class="absolute inset-0 bg-black bg-opacity-50"></div>
  
  <!-- Content -->
  <div class="flex flex-col items-center justify-center h-full relative z-10  text-white">
    <h1 class="text-4xl font-bold">Brite Events</h1>
    <p class="mt-2 text-lg">Unlock Memorable Experiences, One Event at a Time!</p>
  </div>
</div>

<h3 class="p-3 text-center text-indigo-950 text-xl">Event Listing</h3>
<div class="grid grid-cols-auto grid-flow-col-dense content-center justify-items-center gap-2 p-3">
  <% @events.each do |event| %>
    
    <div class="grid grid-rows-[150px,80px,35px,35px,35px,35px] h-200px w-[255px] rounded-lg shadow-lgml-2 shadow-md  bg-white hover:bg-indigo-50">
      <!-- image section-->
      <div class="row-span-1">
        <%= image_tag random_image_path, class: "w-full h-full object-cover shadow-sm p-0.5 rounded-lg" %>
      </div>
      <!-- Event description -->
      <div class="row-span-1 p-2">
        <p class="text-sm text-slate-800"><%= event.description %></p>
      </div>

      <div class="row-span-4 grid grid-rows-4">
        <h2 class="row-span-1 font-semibold p-2 text-indigo-950 text-lg">
          <%= link_to event.title, event_path(event) %>
        </h2>
        <div class="row-span-1 p-2">
          <p class="text-sm font-bold text-indigo-950"><%= event.date.strftime("%a,  %b %d, %Y") %></p> 
        </div>

        <div class="row-span-1 p-2">
          <p class="text-sm text-slate-800"><%= event.location %></p>
        </div>
        <div class="row-span-1 p-2">
          <p class="text-sm"><%= "#{event.creator.first_name} #{event.creator.last_name}" %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= render 'shared/footer' %>

